<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="ocapiConfig" type="Net.Demandware.Ocapi.Configuration.OcapiConfigurationSection,Net.Demandware.Ocapi,Version=16.3.0.0,Culture=neutral,PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" />
    </configSections>
    <ocapiConfig>
        <credentials clientId="58409e3e-8801-4bba-9b42-ed19b7faefe8" password="xwU1k9zooGvwkokWRUNlE0vFB">
            <oauthPath url="https://account.demandware.com/dw/oauth2/access_token" />
        </credentials>
        <dataApi url="https://development-web-newbalance.demandware.net/s/newbalance_us2/dw/data/v16_1/" />
        <shopApi url="https://development-web-newbalance.demandware.net/s/newbalance_us2/dw/shop/v16_1/" />
    </ocapiConfig>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>